* {
    -background-color: #c9eaff;
    -textfield-background-color: #ffffff;
    -dropdown-background-color: #ffffff;
    -button-background-color: #7292a6;
    -menu-background-color: #a4d1ed;
    -user-menu-background-color: #b7b7b7;
    -border-color: black;
    -fill-color: black;
    -unfocus-color: #a0a0a0;
}

.splash-img {
    -fx-background-image: url("../img/light/splash.jpg");
}