* {
    -background-color: #222222;
    -taskbox-container-background-color: #222222;
    -taskbox-hover-color: #535353;
    -selectfield-background-color: #222222;
    -textfield-background-color: transparent;
    -dropdown-background-color: #3c3c3c;
    -button-background-color: #5a4892;
    -menu-background-color: -background-color;
    -user-menu-background-color: -background-color;
    -border-color: #ffff00;
    -button-text-color: #ffff00;
    -fill-color: #ffff00;
    -prompt-color: #ffff00;
    -button-text-color: #ffff00;
    -unfocus-color: #a0a0a0;
    -datepicker-background-color: -background-color;
}

.splash-img {
    -fx-background-image: url("../img/dark/splash.jpg");
}