* {
    -background-color: #222222;
    -textfield-background-color: -background-color;
    -dropdown-background-color: -background-color;
    -button-background-color: -background-color;
    -menu-background-color: #444444;
    -user-menu-background-color: #282828;
    -border-color: whitesmoke;
    -fill-color: whitesmoke;
    -unfocus-color: #a0a0a0;

}

.splash-img {
    -fx-background-image: url("../img/dark/splash.jpg");
}