* {
    -background-color: #444444;
    -taskbox-container-background-color: #666666;
    -taskbox-hover-color: #535353;
    -selectfield-background-color: #3c3c3c;
    -textfield-background-color: #666666;
    -dropdown-background-color: #3c3c3c;
    -button-background-color: #3e64ff;
    -menu-background-color: #666666;
    -user-menu-background-color: #353535;
    -border-color: whitesmoke;
    -button-text-color: whitesmoke;
    -fill-color: whitesmoke;
    -prompt-color: #d0d0d0;
    -button-text-color: #ffffff;
    -unfocus-color: #a0a0a0;
    -datepicker-background-color: -background-color;
}

.splash-img {
    -fx-background-image: url("../img/dark/splash.jpg");
}