* {
    -background-color: #c9eaff;
    -taskbox-container-background-color: whitesmoke;
    -taskbox-hover-color: #979797;
    -selectfield-background-color: #ffffff;
    -textfield-background-color: #ffffff;
    -dropdown-background-color: #ffffff;
    -button-background-color: #587587;
    -menu-background-color: -background-color;
    -user-menu-background-color: whitesmoke;
    -border-color: black;
    -fill-color: black;
    -prompt-color: #969696;
    -button-text-color: #ffffff;
    -unfocus-color: #a0a0a0;
    -datepicker-background-color: whitesmoke;
}

.splash-img {
    -fx-background-image: url("../img/light/light.jpg");
}