* {
    -background-color: #c9eaff;
    -selectfield-background-color: #ffffff;
    -textfield-background-color: #ffffff;
    -dropdown-background-color: #ffffff;
    -button-background-color: #7292a6;
    -menu-background-color: #a4d1ed;
    -user-menu-background-color: #b7b7b7;
    -border-color: black;
    -fill-color: black;
    -button-text-color: #ffffff;
    -unfocus-color: #a0a0a0;
    -table-background-color: transparent;
    -table-header-color: adfcff;
    -table-corner-color: transparent;
    -table-gradient: linear-gradient(to bottom, whitesmoke, #e8e8e8);
    -odd-cell-color: whitesmoke;
    -even-cell-color: #e8e8e8;
}

.splash-img {
    -fx-background-image: url("../img/light/splash.jpg");
}