* {
    -background-color: transparent;
    -taskbox-container-background-color: -menu-background-color;
    -taskbox-hover-color: #979797;
    -selectfield-background-color: #ffffff;
    -textfield-background-color: -background-color;
    -dropdown-background-color: #ffffff;
    -button-background-color: #7292a6;
    -menu-background-color: linear-gradient(to bottom, whitesmoke, #1dbbdd11);
    -user-menu-background-color: transparent;
    -border-color: black;
    -fill-color: black;
    -prompt-color: #969696;
    -button-text-color: #ffffff;
    -unfocus-color: #a0a0a0;
    -datepicker-background-color: whitesmoke;
}

.splash-img {
    -fx-background-image: url("../img/light/pastel.jpg");
}