* {
    -fx-font-family: "FontAwesome Regular";
}

.header {
    -fx-font-family: "Bebas Neue" !important;
}

.bg {
    -fx-background-color: -background-color;
}

.button {
    -fx-background-color: -button-background-color;
    -fx-text-fill: -button-text-color;
}

.splash-img {
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
}

.text {
    -fx-fill: -fill-color;
}

.selectfield {
    -fx-background-color: -selectfield-background-color;
    -jfx-focus-color: -border-color;
}

.selectfield .combo-box-popup .list-cell {
    -fx-background-color: -dropdown-background-color;
    -fx-text-fill: -fill-color;
}

.icon * {
    -fx-font-size: 21px;
}

.textfield {
    -fx-text-fill: -fill-color;
    -fx-background-color: -textfield-background-color;
    -jfx-focus-color: -border-color;
    -jfx-unfocus-color: -unfocus-color;
}

.startDate .endDate {
    -fx-background-color: -textfield-background-color;
}

.right-menu .text-area {
    -fx-text-fill: -fill-color;
    -fx-background-color: -textfield-background-color;
}

.top-menu {
    -fx-background-color: -background-color;
}

.search-filter-box {
    -fx-text-fill: -fill-color;
    -fx-prompt-text-fill: -prompt-color;
    -fx-background-color: -textfield-background-color;
    -jfx-focus-color: -border-color;
    -jfx-unfocus-color: -unfocus-color;
}

.right-menu {
    -fx-background-color: -menu-background-color;
}

.left-menu {
    -fx-background-color: -menu-background-color;
}

.menu-option {
    -fx-pref-width: 999999;
    -fx-text-alignment: center;
}

.menu-option .selected-menu-option {
    -fx-background-color: -user-menu-background-color;
}

.left-menu .user-menu {
    -fx-background-color: -user-menu-background-color;
}

.taskbox {
    -fx-background-color: none;
}

.taskbox:hover {
    -fx-effect: dropshadow(two-pass-box, #979797, 8, 0, 0, 2);
}


.taskbox-design {
    -fx-background-color: -selectfield-background-color;
    -fx-background-radius: 10px;
}

.taskbox .check-box {
    -jfx-unchecked-color: -fill-color;
}

.right-menu .check-box {
    -jfx-unchecked-color: -fill-color;
}

.category-color-box {
    -fx-background-radius: 10px;
}

/*
---------- Left Menu List Views -------------
 */

/*
---------- Also sets the colors of all the comboboxes ----------
*/
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -textfield-background-color;
    -fx-text-fill: -fill-color;
}

.list-cell:even {
    -fx-background-color: -textfield-background-color;
}

.list-cell:odd {
    -fx-background-color: -textfield-background-color;
}

.list-cell:filled:hover {
    -fx-background-color: -textfield-background-color;
    -fx-text-fill: -fill-color;
}

.categories-list {
    -fx-background-color: transparent;
}
/*
------------- End Left Menu List Views -----------------
 */

/*
---------- List View --------------
 */
.hBoxL {
    -fx-background-color: -user-menu-background-color;
}

.hBoxR{
    -fx-background-color: -user-menu-background-color;
}

.taskViewBG {
    -fx-background-color: -menu-background-color;
}
/*
------------- End List View ---------------
 */

/*
---------- Date Picker -------------
 */
.date-picker .text-field {
    -fx-control-inner-background: -datepicker-background-color;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: -background-color;
    -fx-text-fill: -fill-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -background-color;
    -fx-text-fill: -fill-color;
}

.date-picker-popup > * > .date-cell {
    -fx-background-color: -background-color;
    -fx-text-fill: -fill-color;
}
/*
------------- End Date Picker ---------------
 */

/*
--------- Settings ----------
 */
.mailTF {
    -fx-prompt-text-fill: -prompt-color;
}

.tlfTF {
    -fx-prompt-text-fill: -prompt-color;
}

.usernameTF {
    -fx-prompt-text-fill: -prompt-color;
}

.passwordTF {
    -fx-prompt-text-fill: -prompt-color;
}