* {
    -fx-font-family: "FontAwesome Regular";
}

.header {
    -fx-font-family: "Bebas Neue" !important;
}

.bg {
    -fx-background-color: -background-color;
}

.button {
    -fx-background-color: -button-background-color;
}

.splash-img {
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
}

.text {
    -fx-fill: -fill-color;
}

.selectfield {
    -fx-background-color: -selectfield-background-color;
    -jfx-focus-color: -border-color;
}

.selectfield .combo-box-popup .list-cell {
    -fx-background-color: -dropdown-background-color;
    -fx-text-fill: -fill-color;
}

.icon * {
    -fx-font-size: 21px;
}

.textfield {
    -fx-text-fill: -fill-color;
    -fx-background-color: -textfield-background-color;
    -jfx-focus-color: -border-color;
    -jfx-unfocus-color: -unfocus-color;
}

.startDate .endDate {
    -fx-background-color: -textfield-background-color;
}

.right-menu .text-area {
    -fx-text-fill: -fill-color;
    -fx-background-color: -textfield-background-color;
}

.top-menu {
    -fx-background-color: -table-background-color;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -border-color;
}

.search-filter-box {
    -fx-text-fill: -fill-color;
    -fx-background-color: -textfield-background-color;
    -jfx-focus-color: -border-color;
    -jfx-unfocus-color: -unfocus-color;
}

.right-menu {
    -fx-background-color: -menu-background-color;
}

.left-menu {
    -fx-background-color: -menu-background-color;
}

.menu-option {
    -fx-pref-width: 999999;
    -fx-text-alignment: center;
}

.menu-option .selected-menu-option {
    -fx-background-color: -user-menu-background-color;
}

.left-menu .user-menu {
    -fx-background-color: -user-menu-background-color;
}

.taskbox {
    -fx-background-color: none;
}

.taskbox:hover {
    -fx-effect: dropshadow(two-pass-box, #000000, 50, 0, 0, 10);
}


.taskbox-design {
    -fx-background-color: -selectfield-background-color;
    -fx-background-radius: 10px;
}

.taskbox .check-box {
    -jfx-unchecked-color: -fill-color;
}

.right-menu .check-box {
    -jfx-unchecked-color: -fill-color;
}
/*
---------- Left Menu List Views -------------
 */

/*
---------- Also sets the colors of all the comboboxes ----------
*/
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -textfield-background-color;
    -fx-text-fill: -fill-color;
}

.list-cell:even {
    -fx-background-color: -textfield-background-color;
}

.list-cell:odd {
    -fx-background-color: -textfield-background-color;
}

.list-cell:filled:hover {
    -fx-background-color: -textfield-background-color;
    -fx-text-fill: -fill-color;
}
/*
------------- End Left Menu List Views -----------------
 */


/*
---------- Table View --------------
 */
.table-list {
    -fx-background-color: -table-background-color;
}

.table-list .column-header-background .filler {
    -fx-background-color: -table-header-color;
}

.table-list .corner {
    -fx-background-color: -table-corner-color;
}

.table-list .column-header-background {
    -fx-background-color: -table-gradient;
    -fx-padding: 0px 0px 5px 0px;
}

.table-list .column-header {
    -fx-background-color: transparent;
}

.table-list .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover{
    -fx-background-color: whitesmoke;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: -odd-cell-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: -even-cell-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

/*.table-row-cell:highlighted {*/
/*    -fx-background-color: #81c483;*/
/*    -fx-background-radius: 15px;*/
/*}*/
/*
------------- End Table View ---------------
 */

.date-picker .text-field {
    -fx-control-inner-background: -background-color;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: -background-color;
    -fx-text-fill: -fill-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -background-color;
    -fx-text-fill: -fill-color;
}

.date-picker-popup > * > .date-cell {
    -fx-background-color: -background-color;
    -fx-text-fill: -fill-color;
}
